{% extends 'base.html.twig' %}

{% block body %}

{#{{ dump(tableaux) }}#}

    <div class="rectangle">
        <h3 class="bienvenue"> {{'Welcome to the world painting'|trans}} {#Entrez dans l'univers de la peinture#}</h3>
    </div>
    <div class="globale-produit">
        {% for produit in produits %}
            <figure class="snip0015">
                <img class="art-image" src="{{ asset(produit.image.src) }}" alt="{{ produit.image.alt }}"/>
                <figcaption>
                    <h2 class="art-titre">{{ produit.titre }}</h2>
                    <p class="produit">{{ produit.info }}</p>
                    <p class="prix">{{ produit.prix }}</p>
                    <a href="#"></a>
                </figcaption>
            </figure>
        {% endfor %}


        {#<figure class="snip0015">#}
            {#<img src="{{ asset('bundles/luciedesaint/images/tableau2.png') }}" alt="sample38"/>#}
            {#<figcaption>#}
                {#<h2>Tableau n°1</h2>#}
                {#<p class="produit">Jolie bague torsadée en or massif .</p>#}
                {#<p class="prix">100 €</p>#}
                {#<a href="#"></a>#}
            {#</figcaption>#}
        {#</figure>#}

        {#<figure class="snip0015">#}
            {#<img src="{{ asset('bundles/luciedesaint/images/tableau3.png') }}" alt="sample38"/>#}
            {#<figcaption>#}
                {#<h2>Tableau n°1</h2>#}
                {#<p class="produit">Jolie bague torsadée en or massif .</p>#}
                {#<p class="prix">100 €</p>#}
                {#<a href="#"></a>#}
            {#</figcaption>#}
        {#</figure>#}


        {#<figure class="snip0015">#}
            {#<img src="{{ asset('bundles/luciedesaint/images/red-tableau.jpg') }}" alt="sample38"/>#}
            {#<figcaption>#}
                {#<h2>Tableau n°1</h2>#}
                {#<p class="produit">Jolie bague torsadée en or massif .</p>#}
                {#<p class="prix">100 €</p>#}
                {#<a href="#"></a>#}
            {#</figcaption>#}
        {#</figure>#}


</div>

    {#<style>#}
        {#footer{#}
            {#background-color: #464343;#}
            {#width: 100%;#}
            {#bottom: 0;#}
            {#position: absolute;#}
        {#}#}

        {#@media screen and (max-width: 1347px) {#}

            {#footer{#}
                {#bottom: 0;#}
                {#position: relative;#}
            {#}#}
        {#}#}
    {#</style>#}


        {#<div class="item">#}
            {#<figure>#}
                {#<a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau.png') }}" class="hvr-grow"></a>#}
            {#<figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>#}
            {#<figure>#}
                {#<a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau2.png') }}" class=" hvr-grow"></a>#}
                {#<figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>#}
            {#</figure>#}
            {#<figure>#}
                {#<a href="#"><img src="{{ asset('bundles/luciedesaint/images/tableau3.png') }}" class=" hvr-grow"></a>#}
                {#<figcation class="cadre_prix prix-effet">A PARTIR DE 200€</figcation>#}
            {#</figure>#}
        {#</div>#}

{% endblock  %}
