{% extends 'base.html.twig' %}

{% block body %}
    {% set locale = app.request.locale %}

    <div class="rectangle">
        <h3 class="bienvenue"> {{ "Entrez dans l'univers de la peinture"|trans }}</h3>
    </div>

    <div class="globale-produit">

        {% for produit in produits | reverse(true) %}
            <figure  tabindex="{{ produit.id }}" class="snip0015">
                <img class="art-image" src="{{ asset(produit.image.src) }}" alt="{{ produit.image.alt }}"/>
                <figcaption>
                    <h2 class="art-titre">
                        {% if locale == 'fr' %}
                            {{ produit.titreFr }}
                        {% elseif locale == 'en' %}
                            {{ produit.titreEn }}
                        {% endif %}
                    </h2>
                    <p class="produit">
                        {% if locale == 'fr' %}
                            {{ produit.infoFr }}
                        {% elseif locale == 'en' %}
                            {{ produit.infoEn }}
                        {% endif %}
                    </p>
                    <p class="prix">{{ produit.prix }}</p>
                </figcaption>
            </figure>
        {% endfor %}
    </div>

{% endblock  %}