{% extends 'base.html.twig' %}

{% block body %}

        <div class="rectangle">
            <h3 class="bienvenue">{{'Welcome to the world jewelrys'|trans}} {#Entrez dans l'univers des bijoux#}</h3>
        </div>
        <div class="globale-bijoux" class="fadeInDown">
        {% for produit in produits %}
            <figure class="snip0015">
                <img src="{{ asset(produit.image.src) }}" alt="{{ produit.image.alt }}"/>
                <figcaption>
                    <h2 class="titre-produit">{{ produit.titre }}</h2>
                    <p class="produit">{{ produit.info }}</p>
                    <p class="prix"> {{ produit.prix }}</p>
                </figcaption>
            </figure>
    {% endfor %}
            </div>

{% endblock  %}