{% extends 'base.html.twig' %}

{% block body %}

   <main role="main">
       <div class="marquee">
           {% for actualite in actualites %}
           <span style="font-size: 20px">{{ actualite.text }}</span>
           {% endfor %}
       </div>

     <div class="images_index">
         <div class="hvr-grow" style="border-radius: 45px">
             <figure class="snip1305">
                 <img src="{{ asset('bundles/luciedesaint/images/portrait-double.png') }}"/>
                 <figcaption class="hvr-grow">
                     <h2>Entrez dans l'univers de la peinture</h2>
                 </figcaption>
                 <a href="{{ path('lucie_desaint_art') }}" ></a>
             </figure>
         </div>

         <div class="hvr-grow">
             <figure class="snip1305">
                 <img src="{{ asset('bundles/luciedesaint/images/portrait-double2.png') }}" class=" hvr-grow"/>
                 <figcaption>
                     <h2>Entrez dans l'univers des bijoux</h2>
                 </figcaption>
                 <a href="{{ path('lucie_desaint_bijoux') }}"></a>
             </figure>
         </div>

         <div class="hvr-grow">
             <figure class="snip1305">
                 <img src="{{ asset('bundles/luciedesaint/images/photo-lucie.png') }}" class=" hvr-grow" style="width: 185px"/>
                 <figcaption>
                     <h2>Artiste</h2>
                 </figcaption>
                 <a href="{{ path('lucie_desaint_artistes') }}"></a>
             </figure>
         </div>
     </div>

   </main>

{% endblock  %}

