{% extends 'base.html.twig' %}

{% block body %}
    {% set locale = app.request.locale %}

   <main role="main">
       <div class="marquee">
           {% for actualite in actualites %}
           <span style="font-size: 20px">
               {% if locale == 'fr' %}
                    {{ actualite.textFr }}
               {% elseif locale == 'en' %}
                   {{ actualite.textEn }}
               {% endif %}
           </span>
           {% endfor %}
       </div>

       {% for flash_message in app.session.flashBag.get('notice') %}
           <div class="row container text-center">
               <div class="flash-notice center">
                   {{ flash_message }}
               </div>
           </div>
       {% endfor %}

        {% set oneImgT = imagesTableaux|slice(random(imagesTableaux|length)-1, 1) %}
        {% set twoImgT = imagesTableaux|slice(random(imagesTableaux|length)-1, 1) %}

       <div class="images_index">
           <div class="hvr-grow" style="border-radius: 45px">
               <figure class="snip1305">
                   {% if oneImgT is not empty and twoImgT is not empty %}
                       <img width="220" src="{{ asset('uploads/pictures/' ~ oneImgT[0]['image']) }}"/>
                       <img width="220" src="{{ asset('uploads/pictures/' ~ twoImgT[0]['image']) }}" class=" hvr-grow"/>
                   {% endif %}
                   <figcaption class="hvr-grow">
                       <h2>{{ "Entrez dans l'univers de la peinture"|trans }}</h2>
                   </figcaption>
                   <a href="{{ path('lucie_desaint_art') }}" ></a>
               </figure>
           </div>

           {% set oneImgB = imagesBijoux|slice(random(imagesBijoux|length)-1, 1) %}
           {% set twoImgB = imagesBijoux|slice(random(imagesBijoux|length)-1, 1) %}

           <div class="hvr-grow">
               <figure class="snip1305">
                   {% if oneImgB is not empty and twoImgB is not empty %}
                       <img width="220" src="{{ asset('uploads/pictures/' ~ oneImgB[0]['image']) }}"/>
                       <img width="220" src="{{ asset('uploads/pictures/' ~ twoImgB[0]['image']) }}" class=" hvr-grow"/>
                   {% endif %}

                   <figcaption>
                       <h2>{{ "Entrez dans l'univers des bijoux"|trans }}</h2>
                   </figcaption>
                   <a href="{{ path('lucie_desaint_bijoux') }}"></a>
               </figure>
           </div>

           <div class="hvr-grow">
               <figure class="snip1305">
                   <img src="{{ asset('bundles/luciedesaint/images/photo-lucie.png') }}" class=" hvr-grow" style="width: 185px"/>
                   <figcaption>
                       <h2> {{ "Artiste"|trans }}</h2>
                   </figcaption>
                   <a href="{{ path('lucie_desaint_artistes') }}"></a>
               </figure>
           </div>
       </div>

   </main>

{% endblock  %}
