{% extends '@LucieDesaint/admin/index.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="row container text-center">
            <div class="flash-notice center">
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}
    <h1 style="color: #33b5e5; font-weight: bolder;padding-bottom: 45px;">Liste des Newsletter</h1>
    <div class="container">
        <a href="{{ path('newsletter_new') }}" style="border-radius: 20px;" class="btn btn-primary btn-info">Create a new newsletter</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Content</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    <td><a href="{{ path('newsletter_show', { 'id': newsletter.id }) }}">{{ newsletter.id }}</a></td>
                    <td>{{ newsletter.titre }}</td>
                    <td>{{ newsletter.content }}</td>
                    <td>{% if newsletter.status %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul style="background-color:white">
                            <li>
                                <a href="{{ path('newsletter_show', { 'id': newsletter.id }) }}" style="border-radius: 20px;" class="btn btn-primary btn-info">Aperçus</a>
                            </li>
                            <li style="position: relative; left: 90px; bottom: 35px;">
                                <a href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}" style="border-radius: 20px;" class="btn btn-primary btn-info">Editer</a>
                            </li>
                            <li style="position: relative; left: 165px; bottom: 69px;">
                                <a href="{{ path('newsletter_send', { 'id': newsletter.id }) }}" style="border-radius: 20px;" class="btn btn-primary btn-info">Envoyer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
