<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Lucie De Saint{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/luciedesaint/images/fav-lucie.png.ico') }}">

        {% block stylesheets %}
            <!-- Compiled and minified CSS and js and fontawsome boostrap-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css">
            <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/hover-min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/animate.min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
            <header>
        {% block header %}
                <div class="container-fluid">
                        <nav class="visible-lg">
                            <a href="{{ path('lucie_desaint_homepage') }}" class="accueil hvr-underline-from-left hidden-xs">Accueil</a>
                            <div class="lien-menu hidden-xs">
                                <a href="{{ path('lucie_desaint_art') }}" class="hvr-underline-from-left ">Art &nbsp</a>
                                <a href="{{ path('lucie_desaint_bijoux') }}" class="hvr-underline-from-left ">Bijoux KIFA &nbsp</a>
                                <a href="{{ path('lucie_desaint_artistes') }}" class="hvr-underline-from-left">Artiste &nbsp</a>
                                <a href="{{ path('lucie_desaint_contact') }}" class="hvr-underline-from-left ">Contact</a>
                            </div>
                        </nav>

                        <section class="hidden-lg ">
                            <div class="logo-home">
                            {#<i class="fa fa-home" aria-hidden="true"></i>#}
                                <i class="fa fa-bars" aria-hidden="true" style="width: 40px; font-size: 40px; color: #ffffff"></i>
                            </div>
                            <ul>
                                <li><a href="{{ path('lucie_desaint_homepage') }}">Accueil</a></li>
                                <li><a href="{{ path('lucie_desaint_art') }}">Art</a></li>
                                <li><a href="{{ path('lucie_desaint_bijoux') }}">Bijoux KIFA</a></li>
                                <li><a href="{{ path('lucie_desaint_artistes') }}">Artiste</a></li>
                                <li><a href="{{ path('lucie_desaint_contact') }}">Contact</a></li>
                            </ul>
                        </section>
                </div>
                <div class="bandeau2">
                    <div class="visible-xs">
                        <img src=" {{ asset ('bundles/luciedesaint/images/new-logo-lucie.png')}}" class="logo-lucie ">
                        <img src=" {{ asset ('bundles/luciedesaint/images/text-lucie.png')}}" class="text-lucie">
                    </div>
                    <div class="hidden-xs">
                          <img src=" {{ asset ('bundles/luciedesaint/images/logo2017-lucie.png')}}" class="logo-lucie lucie-border">
                    </div>
                </div>
                <div class="language-logo">
                    <a href="#" class="hvr-bob" style="float: right"><img src="{{ asset('bundles/luciedesaint/images/english-coeur.png') }} " class="english-coeur"></a>
                    <a href="#" class="hvr-bob" style="float: right"><img src="{{ asset('bundles/luciedesaint/images/french-coeur.png') }}" class="french-coeur hvr-bubble-top"></a>
                </div>
        {% endblock %}
            </header>
            <main>
        {% block body %}{% endblock %}
            </main>
        {% block footer %}

            <footer class="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 center" >
                            <div class="icon">
                                <a href="https://www.facebook.com/lucie.desaint?fref=ts" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                <a href="https://fr.linkedin.com/in/lucie-desaint-949b6a26" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                <a href="https://fr.pinterest.com/ldesaint/" target="_blank"><i class="fa fa-pinterest-square"  aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 ">
                            <div class="newsletter-globale">
                                <h5 class="abonner">S'abonner aux newsletters</h5>
                                <input placeholder="youremail@domain.com"/>
                                <button id="envoyer">Envoyer</button>
                            </div>
                            <h5 class="copyright"> © Copyright all rights reserved - design by
                                <a href="http://wildcodeschool.fr" class="wild"> Wild Code School</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src=" {{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
