<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Lucie Desaint{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/luciedesaint/images/favicon.ico') }}">

        {% block stylesheets %}
            <!-- Compiled and minified CSS and js and fontawsome boostrap-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css">
            <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/hover-min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/animate.min.css') }}" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/style.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>

        {% block header %}
            <div class="container-fluid">
                <nav class="visible-lg" >
                    <a href="#" class="accueil hvr-underline-from-left hidden-xs">Accueil</a>
                    <div class="lien-menu hidden-xs">
                        <a href="#" class="hvr-underline-from-left ">Art &nbsp</a>
                        <a href="#" class="hvr-underline-from-left ">Bijoux KIFA &nbsp</a>
                        <a href="#" class="hvr-underline-from-left">Artiste &nbsp</a>
                        <a href="#" class="hvr-underline-from-left ">Contact</a>
                    </div>
                </nav>
                <section class="hidden-lg">
                    <ul>
                        <li><a href="http://www.muhack.org/">Accueil</a>             </li>
                        <li><a href="http://www.muhack.org/">Art</a>           </li>
                        <li><a href="http://www.muhack.org/">Bijoux KIFA</a>             </li>
                        <li><a href="http://www.muhack.org/">Artiste</a>           </li>
                        <li><a href="http://www.muhack.org/">Contact</a>             </li>
                    </ul>
                </section>
            </div>
            <div class="bandeau2">
                <img src=" {{ asset ('bundles/luciedesaint/images/news-logo-lucie.png')}}" class="logo-lucie">
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer>
                <div class="row">
                    {#<div class="col-md-4 col-xs-12 condition">#}
                        {#<h5 class="btn">Conditions générales de vente</h5>#}
                    {#</div>#}
                    <div class="col-md-4 col-xs-12 center" >
                        <div class="icon">
                            <a href=#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="newsletter-globale">
                            <h5 class="abonner">S'abonner aux newsletters</h5>
                            <input placeholder="youremail@domain.com"/>
                            <button id="envoyer">Envoyer</button>
                        </div>
                        <h5 class="copyright"> © Copyright all rights reserved - design by
                            <a href="http://wildcodeschool.fr" class="wild"> Wild Code School</a>
                        </h5>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src=" {{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
