{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="list">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th style="padding-right: 95px;">Image</th>
                        <th><div>
                                {{ form_widget(edit_form.categories) }}
                                {{ form_errors(edit_form.categories) }}
                            </div>
                        </th>
                        <th >Titre
                        </th>
                        <th>Texte descriptif</th>
                    </tr>
                    </thead>
                    <tr class="new">
                        <td><img src=""><div>
                                {{ form_widget(edit_form.file) }}
                                {{ form_errors(edit_form.file) }}
                            </div> </td>
                        <td></td>
                        <th><div style="position: relative;

                                        width: 100px;">
                                {{ form_widget(edit_form.titre) }}
                                {{ form_errors(edit_form.titre) }}
                            </div></th>
                        <td><div style="width: 240px; position: absolute;">
                                {{ form_widget(edit_form.textedescriptif) }}
                                {{ form_errors(edit_form.textedescriptif) }}
                            </div></td>
                        <td align="center">
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete"  class="btn btn-primary btn-default">
                                {{ form_end(delete_form) }}
                            </li>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- END id="list" -->
    </div>
    </div>


    {#<table class="table table-striped table-condensed voc_list ">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Id</th>#}
            {#<th>Src</th>#}
            {#<th>Alt</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#<tbody>#}
        {#<tr>#}
            {#<td>{{ image.id }}</td>#}
            {#<td>{{ image.src }}</td>#}
            {#<td>{{ image.alt }}</td>#}
            {#<td style="width: 100px; ">#}
                {#<ul style="background-color: rgba(113, 102, 102, 0);">#}
                    {#<li>#}
                        {#<a href="{{ path('images_edit', { 'id': image.id }) }}" class="btn btn-primary btn-default">Edit</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('images_index') }}" class="btn btn-primary btn-default">Back to the list</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#{{ form_start(delete_form) }}#}
                        {#<input type="submit" value="Supprimer" class="btn btn-primary btn-default">#}
                        {#{{ form_end(delete_form) }}#}
                    {#</li>#}
                {#</ul>#}

            {#</td>#}
        {#</tr>#}
        {#<tbody>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    <div class="container">
        <h1>Image creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-primary btn-default" />
        {{ form_end(form) }}

        <ul style="background-color: rgba(113, 102, 102, 0);">
            <li>
                <a href="{{ path('images_index') }}" class="btn btn-primary btn-default">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
