{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="list">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th style="padding-right: 95px;">Image</th>
                                <th><div>
                                    {{ form_widget(edit_form.categories) }}
                                    {{ form_errors(edit_form.categories) }}
                                    </div>
                                </th>
                                <th >Titre
                                </th>
                                <th>Texte descriptif</th>
                                </tr>
                                </thead>
                                <tr class="new">
                                <td><img src=""><div>
                                        {{ form_widget(edit_form.file) }}
                                        {{ form_errors(edit_form.file) }}
                                    </div> </td>
                                <td></td>
                                <th><div style="position: relative;

                                        width: 100px;">
                                        {{ form_widget(edit_form.titre) }}
                                        {{ form_errors(edit_form.titre) }}
                                    </div></th>
                                <td><div style="width: 240px; position: absolute;">
                                    {{ form_widget(edit_form.textedescriptif) }}
                                    {{ form_errors(edit_form.textedescriptif) }}
                                    </div></td>
                                <td align="center">
                                    <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete"  class="btn btn-primary btn-default">
                                    {{ form_end(delete_form) }}
                                    </li>
                               </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div><!-- END id="list" -->
        </div>
    </div>

    <h1>Produit edit</h1>

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('produit_index') }}">Back to the list</a>#}
        {#</li>#}

        {#<div class="container-fluid">#}
            {#{{ form_widget(edit_form.categories) }}#}
            {#{{ form_errors(edit_form.categories) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(edit_form.titre) }}#}
            {#{{ form_errors(edit_form.titre) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(edit_form.textedescriptif) }}#}
            {#{{ form_errors(edit_form.textedescriptif) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(edit_form.prix) }}#}
            {#{{ form_errors(edit_form.prix) }}#}
        {#</div>#}
        {#<div>#}
            {#{{ form_widget(edit_form.file) }}#}
            {#{{ form_errors(edit_form.file) }}#}
        {#</div>#}

        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
