{% extends '@LucieDesaint/admin/index.html.twig' %}

{% block body %}


    <h1 style="color: #33b5e5; font-weight:bolder ">Produits list</h1>

<div class="container">
    <table class="table table-striped table-bordered ">
        {#------------------------------------- champs 2 -------------------------------------#}
        <thead>
            <tr>
                {#<th style="width: 200px; text-align: center">ID</th>#}
                <th style="text-align: center">Titre</th>
                <th style=" text-align: center">Descriptif </th>
                <th style="text-align: center" class="visible-lg">Action</th>
            </tr>
        </thead>
        {#------------------------------------- champs 2 -------------------------------------#}
        <tbody>
        {% for produit in produits %}
            <tr>
                {#<th style="text-align: center"><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></th> #}{#----- correspond à l'Id -----#}
                <td style="text-align: center">{{ produit.titre }}</td> {#----- correspond au titre -----#}
                <td style="text-align: center">{{ produit.info }}</td> {#----- correspond au descriptif -----#}
                <td style="text-align: center"><a href="{{ path('produit_show', { 'id': produit.id }) }}"class="btn btn-primary btn-info">Aperçu</a>
                    <a href="{{ path('produit_edit', { 'id': produit.id }) }}"class="btn btn-primary btn-info">Editer</a></td>
               {# ----- correspond au Action -----#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
                                <div style="width: 200px; border-radius: 45px;">
                                    <a href="{{ path('produit_new') }}"class="btn btn-primary btn-info" style="
                                       border-radius: 45px;">Nouveau produit
                                    </a>
                                </div>

    {#<h1>Produits list</h1>#}
    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Titre</th>#}
                {#<th>Textedescriptif</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
    {#------------------------------------- champs -------------------------------------#}
        {#<tbody>#}
        {#{% for produit in produits %}#}
            {#<tr>#}
                {#<td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>#}
                {#<td>{{ produit.titre }}</td>#}
                {#<td>{{ produit.info }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('produit_new') }}">Create a new produit</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
