{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 style="color: #33b5e5; font-weight: bolder;padding-bottom: 45px;">Artiste creation</h1>

        <label for="luciedesaintbundle_artiste_textback">image (fichier JPG)</label>
        <input type="file" id="luciedesaintbundle_artiste_textback" name="luciedesaintbundle_artiste[textback]" style="width: 250px;">

        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#{{ form_end(form) }}#}

        <div><label for="luciedesaintbundle_artiste_textepresentation" class="required">Textepresentation</label><textarea id="luciedesaintbundle_artiste_textepresentation" name="luciedesaintbundle_artiste[textepresentation]" required="required"></textarea></div>

        <input type="submit" value="Create" class="btn btn-primary btn-info"/>
        <ul style="background-color: rgba(113, 102, 102, 0);">
            <li>
                <a href="{{ path('artiste_index') }}" class="btn btn-primary btn-info">Retour</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-primary btn-info">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

    {#<h1>Artiste edit</h1>#}


        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" class="btn btn-primary btn-info"/>#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('artiste_index') }}" class="btn btn-primary btn-info">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete" class="btn btn-primary btn-info">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
