<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Lucie De Saint{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/luciedesaint/images/fav-lucie.png.ico') }}">

    {% block stylesheets %}
        <!-- Compiled and minified CSS and js and fontawsome boostrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/hover-min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/animate.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/luciedesaint/css/style.css') }}">
    {% endblock %}
</head>
<body>

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container hidden-xs">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-brand-centered" >
                <ul class="admin-index">
                    <a href="{{ path('artiste_index') }}" style="padding-right: 45px;">Artiste</a>
                    <a href="{{ path('produit_index') }}" style="padding-right: 45px;">Produits</a>
                    {#<a href="{{ path('categories_index') }}" style="padding-right: 45px;">Catégories</a>#}
                    <a href="{{ path('actualites_index') }}">Actualités</a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="deconnexion">
        <a href="{{ path ('fos_user_security_logout') }}" style="border-radius: 20px;" class="btn btn-secondary"><i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    <section class="visible-xs">
        <div class="logo-home">
            <i class="fa fa-bars" aria-hidden="true" style="width: 40px; font-size: 40px; color: #ffffff"></i>
        </div>
        <ul>
            <li><a href="{{ path('artiste_index') }}">Artiste</a></li>
            <li><a href="{{ path('produit_index') }}">Produits</a></li>
            {#<li><a href="{{ path('categories_index') }}">Catégories</a></li>#}
            <li><a href="{{ path('actualites_index') }}">Actualités</a></li>
        </ul>
    </section>

{% endblock %}

{% block body %}
{% endblock %}

</body>
</html>